.parent-section{
    font-size: 80px;
    font-weight: 800;
    color: yellow;
    background-color: brown;
    width: 80;
    /* max-width: 40px; */
    /* height: 80vh; */
    overflow: auto;
    /* margin: 40px; */
    /* padding: 20px; */
    /* padding-top: 20px; */
    /* padding-left: 40px; */
    /* padding: 20px 0px 20px 50px; */
    /* text-align: center; */
    /* border: 10px double red; */
}
*{
    margin: 0px;
}